@model IEnumerable<GitHub_Monitor.Models.Repository>
@{
    ViewBag.Title = "Home Page";
}


<div id="menu">
    <select id="repositorySelect">
        @foreach (var repository in Model)
        {
            <option data-owner="@repository.Owner" data-name="@repository.Name">@repository.Name</option>
        }
    </select>
</div>

<div id="dashboard">
    <div class="loading">Loading...</div>
    <div id="dashboardPanel"></div>
</div>

@section scripts {
    <script type="text/javascript">
        var App = App || {};
        @* TODO: Turn this into a require module *@
        $(() => {
            App.api = App.Api();
            App.templates = registerHandlebarsTemplates();
            App.dom = {};
            App.dom.repositorySelect = $('#repositorySelect');
            App.dom.dashboard = $('#dashboard');
            App.dom.dashboardPanel = $('#dashboardPanel');

            prepareUi();


            repositorySelect.on('change',
                () => {
                    var $this = $(this);
                    var owner = $this.data('owner');
                    var name = $this.data('name');
                    loadDashboardForRepository(owner, name);
                });

        });

        function loadDashboardForRepository(owner, name) {
            App.dom.dashboard.addClass('loading');
            App.api.get(`/repositories/${owner}/${name}`, {
                success: (repo) => {
                    var dashboardPanel = Api.templates['dashboard'](repo);
                    Api.dom.dashboardPanel.html(dashboardPanel);
                },
                error: (err) => {
                    console.log(err);
                    toastr.error('Error loading repository information, see console for details', 'Error');
                },
                complete: () => {
                    App.dom.dashboard.removeClass('loading');
                }
            });
        }

        function prepareUi() {
            if (Modernizr.cssanimations) {
                var loadingElement = App.templates['loader']();
                $('.loading').html(loadingElement);
            } else {
                var loadingElement = '<img src="/Content/images/load.gif"/>';
                $('.loading').html(loadingElement);
            }
        }

        function registerHandlebarsTemplates() {
            var templateElements = $('script[type="text/x-handlebars-template"]');

            var templateCollection = {}
            templateElements.each(() => {
                var $this = $(this);
                var id = $this.attr('id').replace('template-', '');
                var source = $this.html();
                var template = Handlebars.compile(source);
                templateCollection[id] = (context) => $(template(context));
            });

            return templateCollection;
        }

    </script>


    @* TODO: Precompile these handblebars templates on the server. This is fine for now *@
    <script id="template-dashboard" type="text/x-handlebars-template">
        <div class="dashboard">
            <div class="repository">
                {{repository.name}}
            </div>
        </div>
    </script>
    
    <script id="template-loader" type="text/x-handlebars-template">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </script>
}